<HTML>
    <HEAD>
      <Link rel="stylesheet" href="../static/css/addproduct.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/0a05ea1ff3.js" crossorigin="anonymous"></script>
      <script src="../static/js/jquery-3.4.1.min.js"></script>
      <script src="../static/js/bootstrap-4.4.1.js"></script>

    </HEAD>

    <BODY>
        <div class="form-wrap">
            <div class="tabs">
              <h3 class="add-product-tab">Add Product</a></h3>
            </div><!--.tabs-->
        
            <div class="tabs-content">
              <div id="-tab-content" class="active">
                <form class="add-product-form" action="/newproduct/{{id}}" method="post" enctype = "multipart/form-data">
                  <input type="text" class="input" id="product_name" autocomplete="off" placeholder="Product name" name = "product_name">
                  
                <select id="category" name="category" placeholder>
                    <option value="" disabled selected hidden>Choose a Category</option>
                    <option value="laptops">Laptops</option>
                    <option value="washing machine">Washing Machine</option>
                    <option value="cycle">Cycle</option>
                    <option value="shirts">Shirts</option>
                    <option value="kurtas">Kurtas</option>
                    <option value="shoes">Shoes</option>
                    <option value="trousers">Trousers</option>
                    <option value="headphones">Headphones</option>
                    <option value="mobiles">Mobiles</option>
                    <option value="refrigerators">Refrigerators</option>
                </select> <br>

                  <input type="number" min = 0 class="input" id="price" autocomplete="off" placeholder="Price" name = "price">
                  <input type="number" min = 0 class="input" id="quantity" autocomplete="off" placeholder="Quantity" name = "quantity">
                  
                  <textarea id= "description" name="description" rows="4" cols="60" placeholder="Description"></textarea>

                  <input type="number" min = 0 class="input" id="days_to_arrive" autocomplete="off" placeholder="Days to Arrive" name = "days_to_arrive">
                  
                  <input type="file" class="input" name="product_image">

                  <input type="submit" class="button" value="Submit">
                </form><!--.customer-form-->
                </div><!--.help-text-->
              </div><!--.customer-tab-content-->
    </BODY>
</HTML>