<HTML>
    <HEAD>
      <Link rel="stylesheet" href="../static/css/login.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/0a05ea1ff3.js" crossorigin="anonymous"></script>
      <script src="../static/js/jquery-3.4.1.min.js"></script>
      <script src="../static/js/bootstrap-4.4.1.js"></script>

        <script>
          jQuery(document).ready(function($) {
          tab = $('.tabs h3 a');
        
          tab.on('click', function(event) {
            event.preventDefault();
            tab.removeClass('active');
            $(this).addClass('active');
        
            tab_content = $(this).attr('href');
            $('div[id$="tab-content"]').removeClass('active');
            $(tab_content).addClass('active');
          });
        });
        </script>

        <style>
              .logo
              {
                height: 33%;
                width: 35%;
                margin-left: 32%;
                margin-top: 5%;
              }

              body {
              color: #666;
              background: #002b46;  /* fallback for old browsers */
              background: -webkit-linear-gradient(to right, #1CB5E0, #002b46);  /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to right, #1CB5E0, #002b46); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              font: 16px/26px "Raleway", sans-serif; 
              }
        </style>
    </HEAD>

    <BODY>
      <img src="../static/images/logo.png" class = "logo"> 
        <div class="form-wrap">
            <div class="tabs">
              <h3 class="customer-tab"><a class="active" href="#customer-tab-content">Customer</a></h3>
              <h3 class="seller-tab"><a href="#seller-tab-content">Seller</a></h3>
              <h3 class="DP-tab" id ="small"><a href="#DP-tab-content">Delivery</a></h3>
            </div><!--.tabs-->
        
            <div class="tabs-content">
              <div id="customer-tab-content" class="active">
                {% for m in get_flashed_messages() %}
                <div class = "alert alert-primary"><p style = "color:red"> {{m}} </p></div>  
                {% endfor %}            
                <form class="customer-form" action="/customerlogin" method="post">
                  <input type="text" class="input" id="user_name" autocomplete="off" placeholder="Username" name = "username">
                  <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password" name = "password">
                  <input type="submit" class="button" value="Login as Customer">
                </form><!--.customer-form-->
                <div class="help-text">
                  <p><a href = {{ url_for('signup') }}>Don't have an account? Sign Up</a></p>
                </div><!--.help-text-->
              </div><!--.customer-tab-content-->
        
              <div id="seller-tab-content">
                <form class="seller-form" action="/sellerlogin" method="post">
                  <input type="text" class="input" id="user_login" autocomplete="off" placeholder="Username" name = "username">
                  <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password" name = "password">
                  <input type="submit" class="button" value="Login as Seller">
                </form><!--.seller-form-->
                <div class="help-text">
                  <p><a href = {{ url_for('signup') }}>Don't have an account? Sign Up</a></p>
                </div><!--.help-text-->
              </div><!--.seller-tab-content-->

              <div id="DP-tab-content">
                <form class="DP-form" action="/dplogin" method="post">
                  <input type="text" class="input" id="user_login" autocomplete="off" placeholder="Username" name = "username">
                  <input type="password" class="input" id="user_pass" autocomplete="off" placeholder="Password" name = "password">
                  <input type="submit" class="button" value="Login as Delivery Person">
                </form><!--.seller-form-->
                <div class="help-text">
                  <p><a href = {{ url_for('signup') }}>Don't have an account? Sign Up</a></p>
                </div><!--.help-text-->
              </div><!--.seller-tab-content-->
            </div><!--.tabs-content-->
          </div><!--.form-wrap-->              
    </BODY>
</HTML>