<HTML>
    <HEAD>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel = "stylesheet" href = "../static/css/myorders.css">
    </HEAD>
      

    <body>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #292fa3;">
        <div class="container">
          <a class="navbar-brand" href="#">Welcome, {{details[1]}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/homepage/{{details[0]}}" >Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for i in categories %}
                  <a class = "dropdown-item" href = "/category/{{i[0]}}/{{details[0]}}"> {{i[1]}} </a>
                  {% endfor %}
                </div>
            </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-cart-plus"></i> </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <p class = "dropdown-item">Cost: Rs. {{cart_price}}</p>
                  <a class="dropdown-item" href="/cart/{{details[0]}}">Proceed to Checkout</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"></i> </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/myprofile/{{details[0]}}">My Profile</a>
                  <a class="dropdown-item" href="/myorders/{{details[0]}}">My Orders</a>
                  <p class="dropdown-item"> Points: {{details[6]}}</p>
                  <a class="dropdown-item" href="/login">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <div class="container mt-4">
                <div class="col-lg-9 my-lg-0 my-1">
                    <div id="main-content" class="bg-white border">
                                        
                        <div class="text-uppercase">My recent orders</div>
                        {% for i in range(orders | length) %}
                        <div class="order my-3 bg-light">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="d-flex flex-column justify-content-between order-summary">
                                        <div class="d-flex align-items-center">
                                            <div class="text-uppercase">Order #{{orders[i][0]}}</div>                                        
                                        </div>
                                        <div class="fs-8">No. of products: {{orders[i][1]}}</div>
                                        <div class="fs-8">{{orders[i][2]}} </div>                                    
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="d-sm align-items-sm justify-content-sm">
                                        <div class="status">Status : {{orders[i][3]}}</div>
                                        <div class="btn btn-primary text-uppercase"><a href = "/track/{{details[0]}}/{{orders[i][0]}}">Track Status</a></div>
                                        <div class="btn btn-primary text-uppercase"> <a href="/orderinfo/{{orders[i][0]}}/{{details[0]}}">Order info</a> </div>
                                        {% if orders[i][3] == "Delivered" %}
                                        <div class="btn btn-primary text-uppercase"> <a href="/return/{{orders[i][0]}}/{{details[0]}}">Return item</a> </div>
                                        {% endif %}
                                    </div>                        
                                </div>
                            </div>
                        </div>  
                        {% endfor %}          
                    </div>
                </div>
            </div>
        </div>